<a href="https://colab.research.google.com/github/Sanjayme049/EDA/blob/main/Pandas5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount("/content/gdrive")

people = {
    "first":["Corey", "Jane", "John"],
    "last":["Schafer", "Doe", "Doe"],
    "email":["CoreyMschafer@gmail.com", "JaneDoe@gmail.com", "JohnDoe@gmail.com"]
}

Mounted at /content/gdrive

In [3]:
import pandas as pd

df = pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMschafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

In [24]:
df.columns

Index(['FIRST NAME', 'LAST NAME', 'EMAIL'], dtype='object')

In [25]:
df.columns=['first_name', 'last_name', 'email']

In [26]:
df.columns

Index(['first_name', 'last_name', 'email'], dtype='object')

In [27]:
df.columns = [x.upper() for x in df.columns]

In [28]:
df.columns

Index(['FIRST_NAME', 'LAST_NAME', 'EMAIL'], dtype='object')

In [29]:
df.columns = [x.lower() for x in df.columns]

In [30]:
df.columns

Index(['first_name', 'last_name', 'email'], dtype='object')

In [31]:
# df.columns = df.columns.str.replace('_', ' ')

In [32]:
# df.columns

In [33]:
df.rename(columns={'first_name': 'first', 'last_name':'last'}, inplace=True)

In [34]:
df

   first     last                    email
0  Corey  Schafer  CoreyMschafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com