<a href="https://colab.research.google.com/github/Sanjayme049/EDA/blob/main/pandas_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(101)

In [4]:
mydata=np.random.randint(0,101,(4,3))

In [5]:
mydata

array([[40, 60, 92],
       [64,  5, 12],
       [93, 40, 49],
       [83,  8, 29]])

In [6]:
myindex=['CA','NY','AZ','TX']

In [7]:
mycolumns=['Jan','Feb','Mar']

In [8]:
df=pd.DataFrame(mydata)

In [9]:
df

    0   1   2
0  40  60  92
1  64   5  12
2  93  40  49
3  83   8  29

In [10]:
df=pd.DataFrame(data=mydata,index=myindex)

In [11]:
df

     0   1   2
CA  40  60  92
NY  64   5  12
AZ  93  40  49
TX  83   8  29

In [12]:
df=pd.DataFrame(data=mydata,index=myindex,columns=mycolumns)

In [13]:
df

    Jan  Feb  Mar
CA   40   60   92
NY   64    5   12
AZ   93   40   49
TX   83    8   29

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, CA to TX
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jan     4 non-null      int64
 1   Feb     4 non-null      int64
 2   Mar     4 non-null      int64
dtypes: int64(3)
memory usage: 300.0+ bytes

In [15]:
# WHERE IS MY PYTHON CODE LOCATED?

In [19]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive