<a href="https://colab.research.google.com/github/Sanjayme049/EDA/blob/main/Snippets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
person = {
    "first" : "Corey",
    "last"  : "Schafer",
    "email" : "CoreyMschafer@gmail.com"
}

In [3]:
people = {
    "first": ["Corey"],
    "last": ["Schafer"],
    "email":["CoreyMschafer@gmail.com"]
}

In [4]:
people = {
    "first":["Corey", "Jane", "John"],
    "last":["Schafer", "Doe", "Doe"],
    "email":["CoreyMschafer@gmail.com", "JaneDoe@gmail.com", "JohnDoe@gmail.com"]
}

In [5]:
people['first']

['Corey', 'Jane', 'John']

In [6]:
people['last']

['Schafer', 'Doe', 'Doe']

In [7]:
people['email']

['CoreyMschafer@gmail.com', 'JaneDoe@gmail.com', 'JohnDoe@gmail.com']

In [8]:
import pandas as pd

In [9]:
df = pd.DataFrame(people)

In [10]:
df

   first     last                    email
0  Corey  Schafer  CoreyMschafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

In [11]:
df['email']

0    CoreyMschafer@gmail.com
1          JaneDoe@gmail.com
2          JohnDoe@gmail.com
Name: email, dtype: object

In [12]:
df['first']

0    Corey
1     Jane
2     John
Name: first, dtype: object

In [13]:
type(df['email'])

pandas.core.series.Series

In [15]:
df[['last', 'email']]

      last                    email
0  Schafer  CoreyMschafer@gmail.com
1      Doe        JaneDoe@gmail.com
2      Doe        JohnDoe@gmail.com

In [17]:
#iloc is basically a integer location and it is for rows
df.iloc[0]

first                      Corey
last                     Schafer
email    CoreyMschafer@gmail.com
Name: 0, dtype: object

In [18]:
df.iloc[[0,1]]

   first     last                    email
0  Corey  Schafer  CoreyMschafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com

In [20]:
df.iloc[2]

first                 John
last                   Doe
email    JohnDoe@gmail.com
Name: 2, dtype: object

In [22]:
df.iloc[[0,1]]

   first     last                    email
0  Corey  Schafer  CoreyMschafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com

In [24]:
df.iloc[0,1]

'Schafer'

In [25]:
df.iloc[0,0]

'Corey'

In [26]:
df.iloc[0,2]

'CoreyMschafer@gmail.com'

In [27]:
df.iloc[[0,1],2]

0    CoreyMschafer@gmail.com
1          JaneDoe@gmail.com
Name: email, dtype: object

In [28]:
df

   first     last                    email
0  Corey  Schafer  CoreyMschafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

In [29]:
#loc will be searching by labels
df.loc[0]

first                      Corey
last                     Schafer
email    CoreyMschafer@gmail.com
Name: 0, dtype: object

In [32]:
df.loc[[0,1],['email', 'last', 'first']]

                     email     last  first
0  CoreyMschafer@gmail.com  Schafer  Corey
1        JaneDoe@gmail.com      Doe   Jane

In [33]:
df

   first     last                    email
0  Corey  Schafer  CoreyMschafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

In [35]:
df.loc[[0,2],['first', 'email', 'last']]

   first                    email     last
0  Corey  CoreyMschafer@gmail.com  Schafer
2   John        JohnDoe@gmail.com      Doe

In [36]:
df.iloc[[0,1],2]

0    CoreyMschafer@gmail.com
1          JaneDoe@gmail.com
Name: email, dtype: object

In [37]:
df.loc[[0,1],['email', 'first']]

                     email  first
0  CoreyMschafer@gmail.com  Corey
1        JaneDoe@gmail.com   Jane